APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

JOURNAL_API_LOGIN=some_login
JOURNAL_API_PASSWORD=some_password

STUDENT_SECRET_SALT=super_%1$s_student_%1$s_salt

# текущий академический год и семестер
# эти значения перекрываются из файла .academic.env
ACADEMIC_YEAR=2015
ACADEMIC_SEMESTER=1

# логин/пароль админа
ADMIN_LOGIN=
ADMIN_PASSWORD=

# с какого уровня отображать галочку возле ответа в результатах опроса.
# Если ответов 80%+ - отображать галочку возле ответа в отчете
REPORT_SHOW_ICON_OK_FROM_LEVEL = 80
